{% set website_name = "Munadi - Simple Athan App." %}
{% set coyright_year = 2015 %}
{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/contact', 'contact', 'Contact'),
    ('/about', 'about', 'About')

] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/custom.css">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>{% block title %}{% endblock %} - {{ website_name }}</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                {% for href, id, caption in navigation_bar %}
                    <li{% if id == active_page %} class="active"{% endif %}>
                       <a href="{{ href|e }}">{{ caption|e }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <h3 class="text-muted">{{ website_name }}</h3>
        <hr/>
    </div>
</div>
{% block content %}{% endblock %}
<hr>
<br/>

<div class="container">
    <div class="footer">
        {% block footer %}
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; {{ copyright_year }} Munadi.org</p>
            <br/><br/>
            <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        {% endblock %}
    </div>
</div>

</body>
